<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="AutoStartRegistryGroup" Directory="INSTALLDIR">
      <Component Id="AutoStartRegistry" Guid="*">
        <RegistryValue
          Root="HKCU"
          Key="Software\Microsoft\Windows\CurrentVersion\Run"
          Name="Arceus"
          Type="string"
          Value="&quot;[INSTALLDIR]arceus.exe&quot; --autostart"
          KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>